.tooltip::before {
    @apply z-50;
}

.ts-control {
    @apply py-1 px-0;
    color: unset !important;
    border: unset !important;
    background: unset !important;
    line-height: unset !important;
}

.ts-control input {
    color: unset !important;
}

.ts-wrapper {
    @apply py-0 px-4 m-0;
}

.ts-wrapper.multi .ts-control>.item {
    @apply badge badge-neutral;
    @apply p-0 px-2 m-0 mr-2;
    height: 26px;
    line-height: unset;
}

.ts-wrapper.multi .ts-control>.item.active {
    @apply badge badge-secondary;
    @apply p-0 px-2 m-0 mr-2;
    height: 26px;
    line-height: unset;
}