@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 12px; 
}

.table {
    font-size: 1rem;
}

.bg-good {
    @apply bg-emerald-950 !important;
}

.bg-important {
    @apply bg-sky-950 !important;
}

/*
UNPOLY
*/

up-drawer-box {
    @apply bg-base-200 text-base-content;
}

/*
TOM SELECT
*/

.tooltip::before {
    @apply z-50;
}

.ts-control {
    color: unset !important;
    border: unset !important;
    background: unset !important;
    line-height: unset !important;
}

.ts-control input {
    color: unset !important;
}

.ts-wrapper {
    @apply p-0 m-0;
}

.ts-wrapper.multi .ts-control > .item {
    @apply badge badge-neutral;
    @apply p-0 px-2 m-0 mr-2;
    height: unset;
    line-height: unset;
}

.ts-wrapper.multi .ts-control > .item.active {
    @apply badge badge-secondary;
    height: unset;
    line-height: unset;
}