@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
.btn, .input, .select, .file-input, .badge {
    @apply rounded-full;
}
*/

.tooltip::before {
    @apply z-50;
}

.ts-control {
    border: unset !important;
    background: unset !important;
    line-height: unset !important;
}

.ts-wrapper {
    @apply p-0 m-0;
}

.ts-wrapper.multi .ts-control > .item {
    @apply p-0 m-0 mr-2;
    @apply badge badge-outline badge-secondary;
    height: unset;
    line-height: unset;
}

.ts-wrapper.multi .ts-control > .item.active {
    @apply badge badge-secondary;
    height: unset;
    line-height: unset;
}