@import './dataTables-2.2.2.css';
@import './heroicons-outline-405db23.css';
@import './tom-select-2.4.3.css';
@import './unpoly-3.10.2.css';
@import './vis-timeline-7.7.3.css';

@import 'tailwindcss';
@plugin "daisyui" {
    themes: bumblebee --default;
}

.bg-good { 
    background-color: color-mix(in srgb, var(--color-success) 10%, transparent) !important;
}
.bg-flagged { 
    background-color: color-mix(in srgb, var(--color-warning) 10%, transparent) !important;
}
.btn-flagged { 
    color: var(--color-warning) !important;
}

/*
UNPOLY
*/

up-drawer-box {
    @apply bg-base-200 text-base-content;
}

up-drawer[size=large] up-drawer-box {
    width: 66% !important;
}

/*
HERO ICONS
*/
.hio-5 {
    font-size: 15px;
    line-height: 15px;
}

.hio-6 {
    font-size: 18px;
    line-height: 18px;
}

@import './dagobert-tomselect.css';
@import './dagobert-datatables.css';
@import './dagobert-vistimeline.css';