package utils


templ Card(title string, icon func(string) templ.Component) {
	<div class="card bg-base-100 shadow-xl">
		<div class="card-body">
			@icon("w-7 h-7 text-primary mb-3 mx-auto")
			<h5 class="card-title">{title}</h5>
			<p>{ children... }</p>
		</div>
	</div>
}
