@import './heroicons-outline-405db23.css';
@import './unpoly-3.10.2.css';
@import './vis-timeline-7.7.3.css';

@import 'tailwindcss';
@plugin "daisyui" {
    themes: bumblebee --default;
}

@import './dagobert-choices.css';
@import './dagobert-vistimeline.css';

.bg-flagged { 
    background-color: color-mix(in srgb, var(--color-warning) 10%, transparent) !important;
}
.btn-flagged { 
    color: var(--color-warning) !important;
}

.sort.asc::after {
  content: "\25B2"; /* \002B06"; */
  padding-left: 3px;
  }
.sort.desc::after {
  content: "\25BC"; /* "\002B07"; */
  padding-left: 3px
  }

/*
UNPOLY
*/

up-drawer-box {
    @apply bg-base-200 text-neutral;
}

up-drawer[size=large] up-drawer-box {
    width: 66% !important;
}

/*
HERO ICONS
*/

.hio-5 {
    font-size: 15px;
    line-height: 15px;
}

.hio-6 {
    font-size: 18px;
    line-height: 18px;
}
