<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <section id="errors"></section>
        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <div id="list">
            <table class="table table-default dataTable" data-order='[[ 1, "asc" ], [ 2, "asc" ]]'>
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Status</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Name</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Address / Domain</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">First seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Last seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Notes</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td class="truncate"> {{ template "enum" (dict "item" .Status "list" $.model.AssetStatus) }} </td>
                        <td class="truncate"> {{ template "enum" (dict "item" .Type "list" $.model.AssetTypes) }} </td>
                        <td> {{ .Name }} </td>
                        <td> {{ .Addr }} </td>
                        <td class="truncate"> {{ template "format-time" .FirstSeen }} </td>
                        <td class="truncate"> {{ template "format-time" .LastSeen }} </td>
                        <td> {{ .Notes }} </td>
                        <td class="text-right"><div class="join">
                            {{ template "action-buttons" dict "url" (print "/cases/" .CaseID "/assets/" .ID) "env" $.env }}
                        </div></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>