<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <section id="errors"></section>

        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <div id="list">
            <table class="table table-default dataTable" data-order='[[ 0, "asc" ], [ 1, "asc" ]]'>
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Category</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Title</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Description</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td> {{ .Category }} </td>
                        <td> {{ .Title }} </td>
                        <td> {{ .Description }} </td>
                        <td class="text-right"><div class="join">
                            {{ template "action-buttons" dict "url" (print "/cases/" .CaseID "/notes/" .ID) "env" $.env }}
                        </div></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>