{{ define "layout-head" }}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dagobert</title>
    <link href="/web/heroicons-outline-405db23.css" rel="stylesheet" />
    <link href="/web/tom-select-2.4.1.css" rel="stylesheet" />
    <link href="/web/unpoly-3.9.5.min.css" rel="stylesheet" />
    <link href="/web/dagobert.css" rel="stylesheet" />

    <script src="/web/jquery-3.7.1.min.js" defer></script>
    <script src="/web/dataTables-2.1.8.min.js" defer></script>
    <script src="/web/dataTables.tailwindcss-2.1.8.js" defer></script>
    <script src="/web/dataTables.fixedHeader-4.0.1.min.js" defer></script>
    <script src="/web/tom-select-2.4.1.min.js" defer></script>
    <script src="/web/vis-network-9.1.9.min.js"></script>
    <script src="/web/unpoly-3.9.5.min.js" defer></script>
    <script>
    onload = (event) => {
        // up.log.enable();
        up.log.disable();
        up.network.config.autoCache = (request) => false;
        up.network.config.wrapMethod = false;
        up.layer.config.drawer.position = 'right';
        up.layer.config.drawer.size = 'large';

        up.compiler('#list', (elem, data) => {
            // cleanup old datatables wrapper
            let wrapper = document.getElementById("list_wrapper");
            if (wrapper != null) {
                wrapper.replaceWith(elem);
            }

            // auto reload #list when server returns it in an overlay
            elem.setAttribute('up-hungry', '');
            elem.setAttribute('up-if-layer', 'subtree')

            let table = new DataTable('#list', {
                paging: false,
                searching: true,
                scrollX: true,
                fixedHeader: true,
                layout: { topStart: null, topEnd: null, bottomStart: null, bottomEnd: null }
            });

            table.search($("[name='search']").val()).draw();
            $("[name='search']").on('keyup', function() {
                table.search($(this).val()).draw();
            });
        });

        up.compiler('#auditlog', (elem, data) => {
            let table = new DataTable('#auditlog', {
                paging: false,
                searching: true,
                scrollX: true,
                fixedHeader: true,
                layout: { topStart: null, topEnd: null, bottomStart: null, bottomEnd: null }
            });
        });
    };
    </script>
</head>
{{ end }}

{{ define "navbar" }}
<nav class="sticky top-0 bg-base-100 z-10 flex items-center justify-between max-w-full p-2 -mt-4">

    <div class="breadcrumbs font-bold text-2xl">
        <ul>
            {{ if ne .env.ActiveCase.ID "" }}
            <li class="inline-flex gap-2">
                {{ template "icon-briefcase" "inline-block w-6 h-6" }}
                {{ .env.ActiveCase.Name }}
            </li>
            {{ end }}
            <li class="text-accent">{{ .title }}</li>
        </ul>
    </div>

    <div class="flex gap-5 items-center">
        <!-- search input -->
         {{ if not .hideSearch }}
        <label class="w-96 input input-bordered flex items-center gap-2">
            <input type="search" name="search" class="grow" placeholder="Search ..." />
            <svg class="w-6 h-6 opacity-70" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </label>
        {{ end }}

        <!-- buttons -->
        <div class="join" role="group">
            {{if allowed ($url := print .env.ActiveRoute "import") "POST"}}
            {{ if not .hideImport }}
            <a class="join-item btn" href="{{ $url }}" up-layer="new drawer" up-accept-location="{{ .env.ActiveRoute }}">
                {{ template "icon-arrow-up-tray" "inline-block mr-1 w-6 h-6" }}
                Import CSV
            </a>
            {{ end }}
            {{ end }}

            {{if allowed ($url := print .env.ActiveRoute "export") "GET"}}
            {{ if not .hideExport }}
            <a class="join-item btn" href="{{ $url }}">
                {{ template "icon-arrow-down-tray" "inline-block mr-1 w-6 h-6" }}
                Export CSV
            </a>
            {{ end }}
            {{ end }}

            {{if allowed ($url := print .env.ActiveRoute) "GET"}}
            {{ if not .hideRefresh }}
            <a class="join-item btn" href="{{ $url }}" up-target="#list">
                {{ template "icon-arrow-path" "inline-block mr-1 w-6 h-6" }}
                Refresh
            </a>
            {{ end }}
            {{ end }}

            {{if allowed ($url := print .env.ActiveRoute "new") "POST"}}
            {{ if not .hideAdd }}
            <a class="join-item btn btn-accent" href="{{ $url }}" up-layer="new drawer" up-accept-location="{{ .env.ActiveRoute }}">
                {{ template "icon-plus" "inline-block mr-1 w-6 h-6" }}
                Add
            </a>
            {{ end }}
            {{ end }}
        </div>

    </div>
</nav>
{{ end }}

{{ define "sidebar" }}
<aside class="flex flex-col h-screen fixed overflow-auto z-50 bg-base-100">
    <div class="w-8 h-8 m-4 mx-auto bg-primary text-primary-content rounded-lg p-2">
        {{ template "icon-dagobert" "" }}
    </div>

    <div class="divider"></div>
    <ul class="menu gap-2">
		{{if allowed ($url := "/") "GET"}}                  <li><a href="{{ $url }}" title="Cases" class='{{ if eq .title "Cases" }}active{{ end }}'> {{ template "icon-briefcase" "w-6 h-6" }} </a></li>{{ end }}
		{{if allowed ($url := "/settings/users/") "GET"}}   <li><a href="{{ $url }}" title="Users" class='{{ if eq .title "Users" }}active{{ end }}'> {{ template "icon-users" "w-6 h-6" }} </a></li>{{ end }}
		{{if allowed ($url := "/settings/api-keys/") "GET"}}<li><a href="{{ $url }}" title="API Keys" class='{{ if eq .title "API Keys" }}active{{ end }}'> {{ template "icon-beaker" "w-6 h-6" }} </a></li>{{ end }}
		{{if allowed ($url := "/settings/reports/") "GET"}} <li><a href="{{ $url }}" title="Report Templates" class='{{ if eq .title "Report Templates" }}active{{ end }}'> {{ template "icon-document-text" "w-6 h-6" }} </a></li>{{ end }}
		{{if allowed ($url := "/settings/auditlog/") "GET"}} <li><a href="{{ $url }}" title="Audit Log" class='{{ if eq .title "Audit Log" }}active{{ end }}'> {{ template "icon-scale" "w-6 h-6" }} </a></li>{{ end }}
    </ul>

    {{ if ne .env.ActiveCase.ID "" }}
    <div class="divider"></div>
    <ul class="menu gap-2">
		{{if allowed ($url := print "/cases/" .env.CID "/events/") "GET"}}    <li><a href="{{ $url }}" title="Timeline" class='{{ if eq .title "Timeline" }}active{{ end }}'> {{ template "icon-clock" "w-6 h-6" }} </a></li> {{ end }}
		{{if allowed ($url := print "/cases/" .env.CID "/assets/") "GET"}}    <li><a href="{{ $url }}" title="Assets" class='{{ if eq .title "Assets" }}active{{ end }}'> {{ template "icon-desktop" "w-6 h-6" }} </a></li> {{ end }}
		{{if allowed ($url := print "/cases/" .env.CID "/indicators/") "GET"}}<li><a href="{{ $url }}" title="Indicators" class='{{ if eq .title "Indicators" }}active{{ end }}'> {{ template "icon-fingerprint" "w-6 h-6" }} </a></li> {{ end }}
		{{if allowed ($url := print "/cases/" .env.CID "/malware/") "GET"}}   <li><a href="{{ $url }}" title="Malware/Tools" class='{{ if eq .title "Malware/Tools" }}active{{ end }}'> {{ template "icon-bug" "w-6 h-6" }} </a></li> {{ end }}
		{{if allowed ($url := print "/cases/" .env.CID "/evidences/") "GET"}} <li><a href="{{ $url }}" title="Evidences" class='{{ if eq .title "Evidences" }}active{{ end }}'> {{ template "icon-cube" "w-6 h-6" }} </a></li> {{ end }}
		{{if allowed ($url := print "/cases/" .env.CID "/tasks/") "GET"}}     <li><a href="{{ $url }}" title="Tasks" class='{{ if eq .title "Tasks" }}active{{ end }}'> {{ template "icon-clipboard-check" "w-6 h-6" }} </a></li> {{ end }}
		{{if allowed ($url := print "/cases/" .env.CID "/notes/") "GET"}}     <li><a href="{{ $url }}" title="Notes" class='{{ if eq .title "Notes" }}active{{ end }}'> {{ template "icon-chat-bubble" "w-6 h-6" }} </a></li> {{ end }}
    </ul>

    <div class="divider"></div>
    <ul class="menu gap-2">
		{{if allowed ($url := print "/cases/" .env.CID "/vis/network") "GET"}}<li><a href="{{ $url }}" title="Lateral Movement" class='{{ if eq .title "Lateral Movement" }}active{{ end }}'> {{ template "icon-share" "w-6 h-6" }} </a></li>{{ end }}
		{{if allowed ($url := print "/cases/" .env.CID "/reports") "POST"}}<li><a href="{{ $url }}" title="Report" class='' up-layer="new drawer"> {{ template "icon-document-arrow-down" "w-6 h-6" }} </a></li>{{ end }}
    </ul>
    {{ end }}

    <div class="grow"></div>
    <div class="divider"></div>
    <ul class="menu gap-2">
		<li><a href="/auth/logout" title="Logout" class=''> {{ template "icon-logout" "w-6 h-6" }} </a></li>
    </ul>
</aside>
{{ end }}

{{ define "format-time" }}
    {{ if .IsZero }} -
    {{ else }} {{ .Format "2006-01-02 15:04:05" }} <span class="text-neutral-content">{{ .Format "Z07:00" }}</span>
    {{ end }}
{{ end }}