<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/cases/{{ .obj.CaseID }}/assets/{{ .obj.ID }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.ID "new" }} Add asset
            {{ else }} Edit asset
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="ID" type="hidden" value="{{ .obj.ID }}" />
            <input name="CaseID" type="hidden" value="{{ .obj.CaseID }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Status
                    <span class="text-accent">*</span>
				    {{ if .valid.Status }}<span class="ml-2 text-sm text-error">{{ .valid.Status }}</span>{{ end }}
                </label>
                <select name="Status" class="select w-full">
                    <option disabled value="" {{ if eq .obj.Status "" }}selected{{ end }}>Select an option</option>
                    {{ range .model.AssetStatus }}
                        <option {{ if eq $.obj.Status . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Type
                    <span class="text-accent">*</span>
				    {{ if .valid.Type }}<span class="ml-2 text-sm text-error">{{ .valid.Type }}</span>{{ end }}
                </label>
                <select name="Type" class="select w-full">
                    <option disabled value="" {{ if eq .obj.Type "" }}selected{{ end }}>Select an option</option>
                    {{ range .model.AssetTypes }}
                        <option {{ if eq $.obj.Type . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-accent">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input w-full" value="{{ .obj.Name }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Address / Domain
				    {{ if .valid.Addr }}<span class="ml-2 text-sm text-error">{{ .valid.Addr }}</span>{{ end }}
                </label>
                <input name="Addr" type="text" class="input w-full" value="{{ .obj.Addr }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Notes
				    {{ if .valid.Notes }}<span class="ml-2 text-sm text-error">{{ .valid.Notes }}</span>{{ end }}
                </label>
                <textarea name="Notes" rows="5" class="textarea w-full">{{ .obj.Notes }}</textarea>
            </div>
        
            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>