<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>
        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <div id="list">
            <table class="table w-full dataTable min-w-full text-sm align-middle">
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Status</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Name</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Address</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">First seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Last seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Notes</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td class="truncate">
                            {{ if eq .Status "Compromised" }} <span class="text-error">{{ template "icon-bug" "inline-block w-5 h-5" }} {{ .Status }}
                            {{ else if eq .Status "Accessed" }} <span class="text-warning">{{ template "icon-command-line" "inline-block w-5 h-5" }} {{ .Status }}
                            {{ else if eq .Status "No sign of compromise" }} <span class="text-success">{{ template "icon-check-circle" "inline-block w-5 h-5" }} {{ .Status }}
                            {{ else }}
                            {{ .Status }}
                            {{ end }}
                        </td>
                        <td class="truncate">
                            {{ if eq .Type "Account" }}      {{ template "icon-user" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Desktop" }} {{ template "icon-desktop" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Server" }}  {{ template "icon-server" "inline-block w-5 h-5" }}
                            {{ else }}                       {{ template "icon-question-mark-circle" "inline-block w-5 h-5" }}
                            {{ end }}
                            {{ .Type }}
                        </td>
                        <td> {{ .Name }} </td>
                        <td> {{ .Addr }} </td>
                        <td class="truncate"> {{ template "format-time" .FirstSeen }} </td>
                        <td class="truncate"> {{ template "format-time" .LastSeen }} </td>
                        <td> {{ .Notes }} </td>
                        <td class="px-6 py-2 flex justify-end join">
                            &nbsp;
                            {{ if allowed ($url := print "/settings/auditlog/asset:" .ID) "GET" }}
							<a class="join-item btn btn-sm" href="{{ $url }}" title="Audit Log"
								up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-scale" "w-5 h-5"}}
							</a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/assets/" .ID) "POST" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-pencil" "w-5 h-5"}}
                            </a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/assets/" .ID) "DELETE" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="delete" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-trash" "w-5 h-5"}}
                            </a>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>