<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>
        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <table id="list" class="table w-full">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>First seen</th>
                        <th>Last seen</th>
                        <th>Notes</th>
                        <td style="width: 7rem"></td>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td class="truncate">
                            {{ if eq .Status "Compromised" }} <span class="text-error">{{ template "icon-bug" "inline-block w-5 h-5" }} {{ .Status }}
                            {{ else if eq .Status "Accessed" }} <span class="text-warning">{{ template "icon-command-line" "inline-block w-5 h-5" }} {{ .Status }}
                            {{ else if eq .Status "No sign of compromise" }} <span class="text-success">{{ template "icon-check-circle" "inline-block w-5 h-5" }} {{ .Status }}
                            {{ else }}
                            {{ .Status }}
                            {{ end }}
                        </td>
                        <td class="truncate">
                            {{ if eq .Type "Account" }}      {{ template "icon-user" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Desktop" }} {{ template "icon-desktop" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Server" }}  {{ template "icon-server" "inline-block w-5 h-5" }}
                            {{ else }}                       {{ template "icon-question-mark-circle" "inline-block w-5 h-5" }}
                            {{ end }}
                            {{ .Type }}
                        </td>
                        <td> {{ .Name }} </td>
                        <td> {{ .Addr }} </td>
                        <td class="truncate"> {{ template "format-time" .FirstSeen }} </td>
                        <td class="truncate"> {{ template "format-time" .LastSeen }} </td>
                        <td> {{ .Notes }} </td>
                        <td class="px-6 py-2 flex justify-end join">
                            <a class="join-item btn btn-sm" href="/cases/{{ .CaseID }}/assets/{{ .ID }}"
                                up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-pencil" "w-5 h-5"}}
                            </a>
                            <a class="join-item btn btn-sm" href="/cases/{{ .CaseID }}/assets/{{ .ID }}"
                                up-method="delete" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-trash" "w-5 h-5"}}
                            </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </main>
    </div>
</body>