<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>
        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <div id="list">
            <table class="table table-default dataTable" data-order='[[ 1, "asc" ], [ 2, "asc" ]]'>
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Status</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Name</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Address</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">First seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Last seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Notes</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td class="truncate">
                            {{ if eq .Status "Compromised" }} <span class="text-error"><i class="hio hio-5 hio-bug-ant inline-block"></i> {{ .Status }}
                            {{ else if eq .Status "Accessed" }} <span class="text-warning"><i class="hio hio-5 hio-command-line inline-block"></i> {{ .Status }}
                            {{ else if eq .Status "No sign of compromise" }} <span class="text-success"><i class="hio hio-5 hio-check-circle inline-block"></i> {{ .Status }}
                            {{ else }}
                            {{ .Status }}
                            {{ end }}
                        </td>
                        <td class="truncate">
                            {{ if eq .Type "Account" }}      <i class="hio hio-5 hio-user inline-block"></i>
                            {{ else if eq .Type "Desktop" }} <i class="hio hio-5 hio-computer-desktop inline-block"></i>
                            {{ else if eq .Type "Server" }}  <i class="hio hio-5 hio-server inline-block"></i>
                            {{ else }}                       <i class="hio hio-5 hio-question-mark-circle inline-block"></i>
                            {{ end }}
                            {{ .Type }}
                        </td>
                        <td> {{ .Name }} </td>
                        <td> {{ .Addr }} </td>
                        <td class="truncate"> {{ template "format-time" .FirstSeen }} </td>
                        <td class="truncate"> {{ template "format-time" .LastSeen }} </td>
                        <td> {{ .Notes }} </td>
                        <td class="text-right"><div class="join">
                            {{ template "action-buttons" dict "url" (print "/cases/" .CaseID "/assets/" .ID) "env" $.env }}
                        </div></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>