<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>

        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <table id="list" class="table w-full">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Classification</th>
                        <th>Severity</th>
                        <th>Outcome</th>
                        <td style="width: 7rem"></td>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td> <a class="link" href="/cases/{{ .ID }}/events/">{{ .ID }}</a> </td>
                        <td> <a class="link" href="/cases/{{ .ID }}/events/">{{ .Name }}</a> </td>
                        <td> {{ .Classification }} </td>
                        <td> {{ .Severity }} </td>
                        <td> {{ .Outcome }} </td>
                        <td class="px-6 py-2 flex justify-end join">
                            <a class="join-item btn btn-sm" href="/cases/{{ .ID }}"
                                up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-pencil" "w-5 h-5"}}
                            </a>
                            <a class="join-item btn btn-sm" href="/cases/{{ .ID }}"
                                up-method="delete" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-trash" "w-5 h-5"}}
                            </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </main>
    </div>
</body>