<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>

        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <div id="list">
            <table class="table table-default dataTable">
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">ID</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Name</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Classification</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Severity</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Outcome</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    {{ if allowed ($url := print "/cases/" .ID "/events/") "GET" }}
                    <tr class="hover">
                        <td> <a class="link" href="{{ $url }}">{{ .ID }}</a> </td>
                        <td> <a class="link" href="{{ $url }}">{{ .Name }}</a> </td>
                        <td> {{ .Classification }} </td>
                        <td> {{ .Severity }} </td>
                        <td> {{ .Outcome }} </td>
                        <td class="text-right"><div class="join">
                            {{ if allowed ($url := print "/settings/cases/" .ID "/acl") "POST" }}
							<a class="join-item btn btn-sm" href="{{ $url }}" title="ACL"
								up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
								ACL
							</a>
                            {{ end }}
                            {{ template "action-buttons" dict "url" (print "/cases/" .ID) "env" $.env }}
                        </div></td>
                    </tr>
                    {{ end }}
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>