<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/cases/{{ .obj.ID }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.ID "new" }} Add case
            {{ else }} Edit case
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="ID" type="hidden" value="{{ .obj.ID }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-accent">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input input-bordered" value="{{ .obj.Name }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Classification
				    {{ if .valid.Classification }}<span class="ml-2 text-sm text-error">{{ .valid.Classification }}</span>{{ end }}
                </label>
                <input name="Classification" type="text" class="input input-bordered" value="{{ .obj.Classification }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Severity
                    {{ if .valid.Severity }}<span class="ml-2 text-sm text-error">{{ .valid.Severity }}</span>{{ end }}
                </label>
                <select name="Severity" class="select select-bordered">
                    {{ range .model.CaseSeverities }}
                        <option {{ if eq $.obj.Severity . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Outcome
                    {{ if .valid.Outcome }}<span class="ml-2 text-sm text-error">{{ .valid.Outcome }}</span>{{ end }}
                </label>
                <select name="Outcome" class="select select-bordered">
                    {{ range .model.CaseOutcomes }}
                        <option {{ if eq $.obj.Outcome . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Summary
				    {{ if .valid.Summary }}<span class="ml-2 text-sm text-error">{{ .valid.Summary }}</span>{{ end }}
                </label>
                <textarea name="Summary" rows="5" class="textarea textarea-bordered">{{ .obj.Summary }}</textarea>
            </div>

            <div class="form-control mb-2">
                <label class="label cursor-pointer justify-start gap-2">
                    <input name="Closed" value="true" type="checkbox" class="checkbox" {{ if .obj.Closed }}checked{{ end }} />
                    Closed
                </label>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Timesketch Sketch
                    {{ if .valid.SketchID }}<span class="ml-2 text-sm text-error">{{ .valid.SketchID }}</span>{{ end }}
                </label>
                <select name="SketchID" class="select select-bordered">
                    <option {{ if eq $.obj.SketchID 0 }}selected{{ end }} value="0">None</option>
                    {{ range .sketches }}
                        <option {{ if eq $.obj.SketchID .ID }}selected{{ end }} value="{{ .ID }}">{{ .ID }} - {{ .Name }}</option>
                    {{ end }} 
                </select>
            </div>

            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>