<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/cases/{{ .obj.CaseID }}/events/{{ .obj.ID }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.ID "new" }} Add event
            {{ else }} Edit event
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="ID" type="hidden" value="{{ .obj.ID }}" />
            <input name="CaseID" type="hidden" value="{{ .obj.CaseID }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Time
                    <span class="text-accent">*</span>
                    {{ if .valid.Time }}<span class="ml-2 text-sm text-error">{{ .valid.Time }}</span>{{ end }}
                </label>
                <input name="Time" type="text" class="input input-bordered" value="{{ .obj.Time.Format "2006-01-02T15:04:05Z07:00" }}"
                    x-init="setTimeout(() => $el.focus(), 100)" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Type
                    <span class="text-accent">*</span>
                    {{ if .valid.Type }}<span class="ml-2 text-sm text-error">{{ .valid.Type }}</span>{{ end }}
                </label>
                <select name="Type" class="select select-bordered">
                    <option disabled value="" {{ if eq .obj.Type "" }}selected{{ end }}>Select an option</option>
                    {{ range .model.EventTypes }}
                        <option {{ if eq $.obj.Type . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Event
                    <span class="text-accent">*</span>
                    {{ if .valid.Event }}<span class="ml-2 text-sm text-error">{{ .valid.Event }}</span>{{ end }}
                </label>
                <textarea name="Event" rows="5" class="textarea textarea-bordered">{{ .obj.Event }}</textarea>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Raw
                    {{ if .valid.Raw }}<span class="ml-2 text-sm text-error">{{ .valid.Raw }}</span>{{ end }}
                </label>
                <textarea name="Raw" rows="5" class="textarea textarea-bordered">{{ .obj.Raw }}</textarea>
            </div>

            <div class="form-control mb-2">
                <label class="label cursor-pointer justify-start gap-2">
                    <input name="Starred" value="true" type="checkbox" class="checkbox" {{ if .obj.Starred }}checked{{ end }} />
                    Starred
                </label>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Assets
                    {{ if .valid.System }}<span class="ml-2 text-sm text-error">{{ .valid.Assets }}</span>{{ end }}
                </label>
                <select multiple name="Assets" class="tom select select-bordered">
                    {{ range .assets }}
                        <option value="{{ .ID }}" {{ if $.obj.HasAsset .ID }}selected{{ end }}>{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Indicators
                    {{ if .valid.System }}<span class="ml-2 text-sm text-error">{{ .valid.Indicators }}</span>{{ end }}
                </label>
                <select multiple name="Indicators" class="tom select select-bordered">
                    {{ range .indicators }}
                        <option value="{{ .ID }}" {{ if $.obj.HasIndicator .ID }}selected{{ end }}>{{ .Value }}</option>
                    {{ end }}
                </select>
            </div>

            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>

        <script>
            document.querySelectorAll('.tom').forEach((el)=>{ new TomSelect(el, {
                create: function(input){ return {value:'new:'+input, text:input} }
            }); });
        </script>
    </form>
    </main>
</body>