<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>

        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <div id="list">
            <table class="table w-full dataTable min-w-full text-sm align-middle">
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Time</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Event</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Assets</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Indicators</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range $i, $row := .rows }}
                    <tr class='hover {{ if .Flagged }}bg-flagged{{ else if eq .Type "Remediation"}}bg-good{{ else if eq .Type "Legitimate"}}bg-good{{ end }}'>
                        <td class="truncate"> {{ template "format-time" .Time }}</span> </td>
                        <td class="truncate">
                            {{ if eq .Type "Reconnaissance" }}            {{ template "icon-magnifying-glass" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Resource Development" }} {{ template "icon-cog-6-tooth" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Initial Access" }}       {{ template "icon-lock-open" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Execution" }}            {{ template "icon-play" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Persistence" }}          {{ template "icon-arrow-path" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Privilege Escalation" }} {{ template "icon-logout" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Defense Evasion" }}      {{ template "icon-eye-slash" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Credential Access" }}    {{ template "icon-identification" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Discovery" }}            {{ template "icon-eye" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Lateral Movement" }}     {{ template "icon-arrows-right-left" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Collection" }}           {{ template "icon-arrow-down-tray" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "C2" }}                   {{ template "icon-server" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Exfiltration" }}         {{ template "icon-truck" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Impact" }}               {{ template "icon-fire" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Legitimate" }}           {{ template "icon-check-circle" "w-5 h-5 inline-block" }}
                            {{ else if eq .Type "Remediation" }}          {{ template "icon-heart" "w-5 h-5 inline-block" }}
                            {{ else }}                                    {{ template "icon-question-mark-circle" "w-5 h-5 inline-block" }}
                            {{ end  }}
                            {{ .Type }}
                        </td>
                        <td> {{ call $.highlight . }} </td>
                        <td>
                            {{ range .Assets }}
                            <div class="text-success truncate">
                                {{ if eq .Type "Account" }}      {{ template "icon-user" "inline-block w-5 h-5" }}
                                {{ else if eq .Type "Desktop" }} {{ template "icon-desktop" "inline-block w-5 h-5" }}
                                {{ else if eq .Type "Server" }}  {{ template "icon-server" "inline-block w-5 h-5" }}
                                {{ else }}                       {{ template "icon-question-mark-circle" "inline-block w-5 h-5" }}
                                {{ end }}
                                {{ .Name }}
                            </div>
                            {{ end }}
                        </td>
                        <td>
                            {{ range .Indicators }}
                            <div class="text-error truncate">
                                {{ if eq .Type "IP" }}           {{ template "icon-map-pin" "inline-block w-5 h-5" }}
                                {{ else if eq .Type "Domain" }}  {{ template "icon-globe-europe" "inline-block w-5 h-5" }}
                                {{ else if eq .Type "URL" }}     {{ template "icon-link" "inline-block w-5 h-5" }}
                                {{ else if eq .Type "Path" }}    {{ template "icon-folder-open" "inline-block w-5 h-5" }}
                                {{ else if eq .Type "Hash" }}    {{ template "icon-fingerprint" "inline-block w-5 h-5" }}
                                {{ else if eq .Type "Service" }} {{ template "icon-command-line" "inline-block w-5 h-5" }}
                                {{ else }}                       {{ template "icon-question-mark-circle" "inline-block w-5 h-5" }}
                                {{ end }}
                                {{ .Value }}
                            </div>
                            {{ end }}
                        </td>
                        <td class="px-6 py-2 flex justify-end join">
                            &nbsp;
                            {{ if allowed ($url := print "/cases/" .CaseID "/events/" .ID) "POST" }} {{ if .Flagged }}
                            <a class="join-item btn btn-sm btn-flagged" title="Flagged event" href="{{ $url }}" up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-flag-solid" "w-5 h-5"}}
                            </a>
                            {{ end }} {{ end }}
                            {{ if allowed ($url := print "/settings/auditlog/event:" .ID) "GET" }}
							<a class="join-item btn btn-sm" href="{{ $url }}" title="Audit Log"
								up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-scale" "w-5 h-5"}}
							</a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/events/" .ID) "POST" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}" up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-pencil" "w-5 h-5"}}
                            </a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/events/" .ID) "DELETE" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="delete" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-trash" "w-5 h-5"}}
                            </a>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>