<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>

        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <table id="list" class="table w-full dataTable min-w-full text-sm align-middle">
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Name</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Hash</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Size</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Source</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Notes</th>
                        <td style="width: 7rem"></td>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td class="truncate">
                            {{ if eq .Type "File" }}              {{ template "icon-document" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Logs" }}         {{ template "icon-document-text" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Triage" }}       {{ template "icon-archive-box" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "System Image" }} {{ template "icon-server" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Memory Dump" }}  {{ template "icon-cpu-chip" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Malware" }}      {{ template "icon-bug" "inline-block w-5 h-5" }}
                            {{ else }}                            {{ template "icon-cube" "inline-block w-5 h-5" }}
                            {{ end }}
                            {{ .Type }}
                        </td>
                        <td> {{ .Name }} </td>
                        <td> {{ .Hash }} </td>
                        <td> {{ call $.humanizeSize .Size }} </td>
                        <td> {{ .Source }} </td>
                        <td> {{ .Notes }} </td>
                        <td class="px-6 py-2 flex justify-end join">
                            &nbsp;
                            {{ if allowed ($url := print "/cases/" .CaseID "/evidences/" .ID "/download") "GET" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}" >
                                {{ template "icon-arrow-down-tray" "w-5 h-5"}}
                            </a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/evidences/" .ID "/run") "POST" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-bolt" "w-5 h-5"}}
                            </a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/evidences/" .ID) "POST" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-pencil" "w-5 h-5"}}
                            </a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/evidences/" .ID) "DELETE" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="delete" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-trash" "w-5 h-5"}}
                            </a>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </main>
    </div>
</body>