{{ template "layout-begin" . }}
    {{ template "table-view" . }}
{{ template "layout-end" . }}

{{ define "table-content" }}
<table id="list" class="table w-full">
	<thead>
		<tr>
			{{ template "table-th" dict "name" "type" "sort" .env.Sort }}
			{{ template "table-th" dict "name" "name" "sort" .env.Sort }}
			{{ template "table-th" dict "name" "description" "sort" .env.Sort }}
			{{ template "table-th" dict "name" "hash" "sort" .env.Sort }}
			{{ template "table-th" dict "name" "size" "sort" .env.Sort }}
			<td style="width: 7rem"></td>
		</tr>
	</thead>

	<tbody>
        {{ range .rows }}
        <tr class="hover">
			<td>
                {{ if eq .Type "File" }}                       {{ template "icon-document" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Logs" }}                  {{ template "icon-document-text" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Artifacts Collection" }}  {{ template "icon-archive-box" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "System Image" }}          {{ template "icon-server" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Memory Dump" }}           {{ template "icon-cpu-chip" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Malware" }}               {{ template "icon-bug" "inline-block w-6 h-6 mr-2" }}
                {{ else }}                                     {{ template "icon-question-mark-circle" "inline-block w-6 h-6 mr-2" }}
                {{ end }}
                {{ .Type }}
            </td>
			<td> {{ .Name }} </td>
			<td> {{ .Description }} </td>
			<td> {{ .Hash }} </td>
			<td> {{ call $.humanizeSize .Size }} </td>
            <td class="px-6 py-2 flex justify-end join">
                <a class="join-item btn btn-sm"
                    href="/cases/{{ .CaseID }}/evidences/{{ .ID }}/download"
                    @click.stop >
                    {{ template "icon-arrow-down-tray" "w-4 h-4"}}
                </a>

                <button type="button" class="join-item btn btn-sm"
                    hx-get="/cases/{{ .CaseID }}/evidences/{{ .ID }}"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                    hx-push-url="false"
                    @click.stop >
                    {{ template "icon-pencil" "w-4 h-4"}}
                </button>
            
                <button type="button" class="join-item btn btn-sm"
                    hx-delete="/cases/{{ .CaseID }}/evidences/{{ .ID }}"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                    hx-push-url="false"
                    @click.stop >
                    {{ template "icon-trash" "w-4 h-4"}}
                </button>
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="42">Nothing here ...</td>
        </tr>
        {{ end }}
	</tbody>
</table>
{{ end }}