<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/cases/{{ .obj.CaseID }}/evidences/{{ .obj.ID }}" up-submit enctype="multipart/form-data">
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.ID "new" }} Add evidence
            {{ else }} Edit evidence
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="ID" type="hidden" value="{{ .obj.ID }}" />
            <input name="CaseID" type="hidden" value="{{ .obj.CaseID }}" />

			<div class="form-control mb-2">
				<label class="label justify-start gap-2">
                    File
                    <span class="text-accent">*</span>
                </label>
				<input name="File" type="file" class="file-input w-full" />
			</div>

			<div class="form-control mb-2">
				<label class="label justify-start gap-2">
					Name
                    <span class="text-accent">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
				</label>

				<input name="Name" type="text" class="input w-full" value="{{ .obj.Name }}" />
			</div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Type
                    <span class="text-accent">*</span>
				    {{ if .valid.Type }}<span class="ml-2 text-sm text-error">{{ .valid.Type }}</span>{{ end }}
                </label>
                <select name="Type" class="select w-full">
                    <option selected>{{ .obj.Type }}</option>
                    {{ range .model.EvidenceTypes }}
                        {{ if ne $.obj.Type .Name }}<option>{{ .Name }}</option>{{ end }}
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Source
				    {{ if .valid.Source }}<span class="ml-2 text-sm text-error">{{ .valid.Source }}</span>{{ end }}
                </label>
				<input name="Source" type="text" class="input w-full" value="{{ .obj.Source }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Notes
				    {{ if .valid.Notes }}<span class="ml-2 text-sm text-error">{{ .valid.Notes }}</span>{{ end }}
                </label>
                <textarea name="Notes" rows="5" class="textarea w-full">{{ .obj.Notes }}</textarea>
            </div>

            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>

        <script>
            document.querySelector('input[name="File"]').onchange = (e) => {
                document.querySelector('input[name="Name"]').value = e.target.value.replace(/.*(\/|\\)/, '');
            };
        </script>
    </form>
    </main>
</body>