<div id="modal" class="drawer-side z-50"
    hx-swap-oob="true"
    @htmx:load="drawer = true" >

    <label class="drawer-overlay"
        @click="drawer = false"
        @keydown.escape.window="drawer = false"></label>

    <div class="bg-base-200 text-base-content p-4 min-h-full w-[42rem]">
    <form
        hx-post="/cases/{{ .obj.CaseID }}/evidences/{{ .obj.ID }}"
        hx-target="#modal"
        hx-encoding="multipart/form-data"
        x-data="{ filename: '{{ .obj.Name }}' }" >

        <!-- Modal header -->
        <button type="button" class="btn btn-sm btn-circle btn-ghost absolute top-3 end-3"
            @click="drawer = false"> x </button>

        <h3 class="font-bold text-lg mb-4">
            {{ .name }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="ID" type="hidden" value="{{ .obj.ID }}" />
            <input name="CaseID" type="hidden" value="{{ .obj.CaseID }}" />

			<div class="form-control mb-2">
				<label class="label justify-start gap-2">
                    File
                    <span class="text-primary">*</span>
                </label>
				<input name="File" type="file" class="file-input file-input-bordered w-full"
                    @change="filename = Object.values($event.target.files).map(file => file.name).join(', ')"
                    x-init="setTimeout(() => $el.focus(), 100)" />
			</div>

			<div class="form-control mb-2">
				<label class="label justify-start gap-2">
					Name
                    <span class="text-primary">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
				</label>

				<input name="Name" type="text" class="input input-bordered"
                    value="{{ .obj.Name }}"
                    x-model="filename" />
			</div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Type
                    <span class="text-primary">*</span>
				    {{ if .valid.Type }}<span class="ml-2 text-sm text-error">{{ .valid.Type }}</span>{{ end }}
                </label>
                <select name="Type" class="select select-bordered">
                    <option disabled value="" {{ if eq .obj.Type "" }}selected{{ end }}>Select an option</option>
                    {{ range .model.EvidenceTypes }}
                        <option {{ if eq $.obj.Type . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Description
				    {{ if .valid.Description }}<span class="ml-2 text-sm text-error">{{ .valid.Description }}</span>{{ end }}
                </label>
                <textarea name="Description" rows="5" class="textarea textarea-bordered">{{ .obj.Description }}</textarea>
            </div>

			<div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Progress
                </label>
				<progress id="progress" class="progress w-full" value="0" max="100"></progress>

				<script>
					htmx.on('#form', 'htmx:xhr:progress', function(evt) {
					htmx.find('#progress').setAttribute('value', (evt.detail.loaded/evt.detail.total * 100))
					});
				</script>
			</div>

            <p class="text-sm text-neutral">Fields marked with <span class="text-primary">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"
                @click="drawer = false"> Save </button>
            <button type="button" class="btn"
                @click="drawer = false"> Cancel </button>
        </div>
    </form>
    </div>
</div>