<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            Process evidence
            <a class="ml-2" href="{{ .env.ActiveRoute }}" up-follow> <i class="hio-5 hio-arrow-path inline-block mr-1"></i> </a>
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <p class="mb-4">You may have to refresh the evidence list to see the updated results after running a mod.</p>
            {{ range .runs }}
            <div class="card bg-base-100 mb-4">
            <div class="card-body p-4">
                <h2 class="card-title">{{ .Name }}</h2>
                <p>{{ .Description }}</p>
                {{ if eq .Status "" }}
                    <div class="card-actions justify-end">
                        <form method="post" up-submit>
                        <input type="hidden" name="name" value="{{ .Name }}" />
                        <button class="btn btn-primary" type="submit">Run</button>
                        </form>
                    </div>
                {{ else if eq .Status "Running" }}
                    <p class="text-warning font-bold">
		                <i class="hio-5 hio-information-circle inline-block"></i>
                        Mod currently running
                    </p>
                {{ else if eq .Status "Success" }}
                    <p class="text-success font-bold">
		                <i class="hio-5 hio-check-circle inline-block"></i>
                        Mod ran successfully.
                    </p>
                    <div class="card-actions justify-end">
                        <form method="post" up-submit>
                        <input type="hidden" name="name" value="{{ .Name }}" />
                        <button class="btn btn-neutral" type="submit">Rerun</button>
                        </form>
                    </div>
                {{ else if eq .Status "Failed" }}
                    <p class="text-error font-bold">
		                <i class="hio-5 hio-x-circle-filled inline-block"></i>
                        Error: {{ .Error }}
                    </p>
                    <div class="card-actions justify-end">
                        <form method="post" up-submit>
                        <input type="hidden" name="name" value="{{ .Name }}" />
                        <button class="btn btn-neutral" type="submit">Rerun</button>
                        </form>
                    </div>
                {{ end }}
            </div>
            </div>
            {{ else }}
            <div class="card bg-base-100 mb-4">
                <div class="card-body p-4">
                    <p class="text-warning"> Evidence type not supported by any mods. </p>
                </div>
            </div>
            {{ end }}

        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
        </div>
    </main>
</body>