<!DOCTYPE html>
<html lang="en">
	{{ template "layout-head" }}
	<body>
		<div class="drawer-content flex">
			<section id="errors"></section>

			{{ template "sidebar" . }}

			<main class="pl-20 p-4 grow max-w-full">
				{{ define "navbar-extra-buttons" }}
					{{if allowed ($url := print .env.ActiveRoute "import") "POST"}}
					<details class="dropdown">
						<summary class="btn join-item">
							<i class="hio hio-6 hio-bars-arrow-up inline-block mr-1"></i> Import
						</summary>
						<ul style="position: absolute" class="menu dropdown-content bg-base-200 rounded-box z-[1] w-52 p-2 shadow">
							<li><a href="{{ $url }}/csv" up-layer="new drawer" up-accept-location="{{ .env.ActiveRoute }}">from CSV</a></li>
							<li><a href="{{ $url }}/timesketch" up-follow up-method="post">from Timesketch</a></li>
						</ul>
					</details>
					{{ end }}
					{{if allowed ($url := print .env.ActiveRoute "export") "GET"}}
					<details class="dropdown">
						<summary class="btn join-item">
							<i class="hio hio-6 hio-bars-arrow-down inline-block mr-1"></i> Export
						</summary>
						<ul style="position: absolute" class="menu dropdown-content bg-base-200 rounded-box z-[1] w-52 p-2 shadow">
							<li><a href="{{ $url }}/csv">as CSV</a></li>
							<li><a href="{{ $url }}/ioc">as OpenIOC</a></li>
							<li><a href="{{ $url }}/stix">as STIX</a></li>
						</ul>
					</details>
					{{ end }}
				{{ end }}
				{{ template "navbar" dict "env" .env "title" .title "hideImport" true "hideExport" true }}

				<div id="list">
					<table class="table table-default dataTable" data-order='[[ 1, "asc" ], [ 2, "asc" ]]'>
						<thead>
							<tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Status</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Value</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">TLP</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Source</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">First seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Last seen</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Events</th>
								<th style="width: 7rem"></th>
							</tr>
						</thead>

						<tbody>
							{{ range .rows }}
							<tr class="hover">
								<td class="truncate"> {{ template "enum" (dict "item" .Status "list" $.model.IndicatorStatus) }} </td>
								<td class="truncate"> {{ template "enum" (dict "item" .Type "list" $.model.IndicatorTypes) }} </td>
                        		<td> {{ .Value }} </td>
								<td> {{ template "enum" (dict "item" .TLP "list" $.model.IndicatorTLPs) }} </td>
								<td> {{ .Source }} </td>
								<td class="truncate"> {{ template "format-time" .FirstSeen }} </td>
								<td class="truncate"> {{ template "format-time" .LastSeen }} </td>
								<td> {{ .Events }} </td>
								<td class="text-right">
									<div class="join">
									{{ if and (eq .Type "IP") (ne .TLP "TLP:RED")}}
									<a class="join-item btn btn-sm" target="_blank" href="https://www.virustotal.com/gui/search/{{ .Value }}">VT</a>
									{{ else if and (eq .Type "Domain") (ne .TLP "TLP:RED") }}
									<a class="join-item btn btn-sm" target="_blank" href="https://www.virustotal.com/gui/search/{{ .Value }}">VT</a>
									{{ else if and (eq .Type "Hash") (ne .TLP "TLP:RED") }}
									<a class="join-item btn btn-sm" target="_blank" href="https://www.virustotal.com/gui/search/{{ .Value }}">VT</a>
									<a class="join-item btn btn-sm" target="_blank" href="https://www.hybrid-analysis.com/search?query={{ .Value }}">HA</a>
									{{ end }}
									{{ template "action-buttons" dict "url" (print "/cases/" .CaseID "/indicators/" .ID) "env" $.env }}
									</div>
								</td>
							</tr>
							{{ end }}
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</body>