{{ template "layout-begin" . }}
    {{ template "table-view" . }}
{{ template "layout-end" . }}

{{ define "table-content" }}
<table class="table w-full">
	<thead>
		<tr>
			<td style="width: 10rem">Type</td>
			<td style="width: auto">Value</td>
			<td style="width: auto">Description</td>
			<td style="width: 8rem">TLP</td>
			<td style="width: auto">Source</td>
			<td style="width: 7rem"></td>
		</tr>
	</thead>

	<tbody>
        {{ range .rows }}
        <tr class="hover">
			<td>
                {{ if eq .Type "IP" }}           {{ template "icon-map-pin" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Domain" }}  {{ template "icon-globe-europe" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "URL" }}     {{ template "icon-link" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Path" }}    {{ template "icon-folder-open" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Hash" }}    {{ template "icon-fingerprint" "inline-block w-6 h-6 mr-2" }}
                {{ else if eq .Type "Service" }} {{ template "icon-command-line" "inline-block w-6 h-6 mr-2" }}
                {{ else }}                       {{ template "icon-question-mark-circle" "inline-block w-6 h-6 mr-2" }}
                {{ end }}
                {{ .Type }}
            </td>
			<td> {{ .Value }} </td>
			<td> {{ .Description }} </td>
			<td>
                {{ if eq .TLP "TLP:RED" }}        <span class="text-red-600">{{ .TLP }}</span>
                {{ else if eq .TLP "TLP:AMBER" }} <span class="text-amber-600">{{ .TLP }}</span>
                {{ else if eq .TLP "TLP:GREEN" }} <span class="text-green-600">{{ .TLP }}</span>
                {{ else }}                        <span>{{ .TLP }}</span>
                {{ end }}
            </td>
			<td> {{ .Source }} </td>
            <td class="px-6 py-2 flex justify-end join">
                <button type="button" class="join-item btn btn-sm"
                    hx-get="/cases/{{ .CaseID }}/indicators/{{ .ID }}"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                    hx-push-url="false"
                    @click.stop >
                    {{ template "icon-pencil" "w-4 h-4"}}
                </button>
            
                <button type="button" class="join-item btn btn-sm"
                    hx-delete="/cases/{{ .CaseID }}/indicators/{{ .ID }}"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                    hx-push-url="false"
                    @click.stop >
                    {{ template "icon-trash" "w-4 h-4"}}
                </button>
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="42">Nothing here ...</td>
        </tr>
        {{ end }}
	</tbody>
</table>
{{ end }}