<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>

        {{ template "sidebar" . }}

        <main id="list" class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title 
                "hideExport" true
                "hideImport" true
            }}

            <h2 class="text-primary text-xl font-bold p-2">Keys</h2>

            <div id="keys">
            <table class="table table-default dataTable">
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Name</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Key</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .keys }}
                    <tr class="hover">
                        <td class="truncate">
                            {{ if eq .Type "Dagobert" }}     <i class="hio hio-5 hio-bolt inline-block"></i>
                            {{ else if eq .Type "Donald" }}  <i class="hio hio-5 hio-camera inline-block"></i>
                            {{ else }}                       <i class="hio hio-5 hio-beaker inline-block"></i>
                            {{ end }}
                            {{ .Type }}
                        </td>
                        <td> {{ .Name }} </td>
                        <td> {{ .Key }} </td>
                        <td class="text-right"><div class="join">
                            {{ template "action-buttons" dict "url" (print "/settings/api-keys/" .Key) "env" $.env }}
                        </div></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>

            <!-- ======= -->

            <h2 class="text-primary text-xl font-bold p-2 mt-6">Workers </h2>

            <div id="keys">
            <table class="table table-default dataTable">
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">ID</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Remote Addr</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Modules</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc"># Workers</th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .workers }}
                    <tr class="hover">
                        <td class="truncate"> {{ .WorkerID }} </td>
                        <td> {{ .RemoteAddr }} </td>
                        <td> 
                            <ul>
                            {{ range .Modules }} <li>{{ . }}</li> {{ end }}
                            </ul>
                        </td>
                        <td class="truncate"> {{ .Workers }} </td>
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>