<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/settings/api-keys/{{ .obj.Key }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.Key "new" }} Add API key
            {{ else }} Edit API key
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="Key" type="hidden" value="{{ .obj.Key }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Type
                    <span class="text-accent">*</span>
				    {{ if .valid.Type }}<span class="ml-2 text-sm text-error">{{ .valid.Type }}</span>{{ end }}
                </label>
                <select name="Type" class="select w-full">
                    <option disabled value="" {{ if eq .obj.Type "" }}selected{{ end }}>Select an option</option>
                    {{ range .model.KeyTypes }}
                        <option {{ if eq $.obj.Type .Name }}selected{{ end }}>{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-accent">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input w-full" value="{{ .obj.Name }}" />
            </div>

            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>