<div id="modal" class="drawer-side z-50"
    hx-swap-oob="true"
    @htmx:load="drawer = true" >

    <label class="drawer-overlay"
        @click="drawer = false"
        @keydown.escape.window="drawer = false"></label>

    <div class="bg-base-200 text-base-content p-4 min-h-full w-[42rem]">
    <form
        hx-post="/api-keys/{{ .obj.Key }}"
        hx-target="#modal" >

        <!-- Modal header -->
        <button type="button" class="btn btn-sm btn-circle btn-ghost absolute top-3 end-3"
            @click="drawer = false"> x </button>

        <h3 class="font-bold text-lg mb-4">
            {{ .name }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="Key" type="hidden" value="{{ .obj.Key }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-primary">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input input-bordered" value="{{ .obj.Name }}"
                    x-init="setTimeout(() => $el.focus(), 100)" />
            </div>

            <p class="text-sm text-neutral">Fields marked with <span class="text-primary">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"
                @click="drawer = false"> Save </button>
            <button type="button" class="btn"
                @click="drawer = false"> Cancel </button>
        </div>
    </form>
    </div>
</div>