<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/api-keys/{{ .obj.Key }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.Key "new" }} Add API key
            {{ else }} Edit API key
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="Key" type="hidden" value="{{ .obj.Key }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-primary">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input input-bordered" value="{{ .obj.Name }}"
                    x-init="setTimeout(() => $el.focus(), 100)" />
            </div>

            <p class="text-sm text-neutral">Fields marked with <span class="text-primary">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>