<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/cases/{{ .obj.CaseID }}/render" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            Select report template
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="CaseID" type="hidden" value="{{ .obj.CaseID }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Template
                </label>
                <select name="Template" class="select select-bordered">
                    <option disabled selected value="">Select an option</option>
                    {{ range .list }}
                        <option>{{ . }}</option>
                    {{ end }}
                </select>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Generate </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>