package views

import "github.com/sprungknoedl/dagobert/internal/model"

templ ReportsDialog(env Env, rows []model.ReportTemplate) {
	@layout() {
		<main>
			<form method="post" action={ "/cases/" + env.Case.ID + "/render" }>
				<h3 class="text-lg font-bold">Select report template</h3>
				@hiddenField("CaseID", env.Case.ID)
				@fieldset("Template") {
					<select name="Template" class="select w-full">
						<option disabled selected value="">Select an option</option>
						for _, row := range rows {
							<option>{ row.Name }</option>
						}
					</select>
				}
				<div class="modal-action">
					<button type="submit" class="btn btn-neutral">Generate</button>
					<a class="btn" up-dismiss>Cancel</a>
				</div>
			</form>
		</main>
	}
}
