<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <section id="errors"></section>

        {{ template "sidebar" . }}

        <main id="list" class="pl-20 p-4 grow max-w-full">
            {{ define "navbar-pre-title"}}
            <li><i class="hio hio-6 hio-cog-6-tooth mr-2"></i> Settings</li>
            {{ end }}
            {{ template "navbar" dict "env" .env "title" .title 
                "hideAdd" true
                "hideExport" true
                "hideImport" true }}

            {{ template "enum-list" (dict "title" "Asset Status" "list" .model.AssetStatus "env" .env ) }}
            {{ template "enum-list" (dict "title" "Asset Types" "list" .model.AssetTypes "env" .env ) }}
            {{ template "enum-list" (dict "title" "Case Severities" "list" .model.CaseSeverities "env" .env ) }}
            {{ template "enum-list" (dict "title" "Case Outcomes" "list" .model.CaseOutcomes "env" .env ) }}
            {{ template "enum-list" (dict "title" "Event Types" "list" .model.EventTypes "env" .env ) }}
            {{ template "enum-list" (dict "title" "Evidence Types" "list" .model.EvidenceTypes "env" .env ) }}
            {{ template "enum-list" (dict "title" "Indicator Status" "list" .model.IndicatorStatus "env" .env ) }}
            {{ template "enum-list" (dict "title" "Indicator Types" "list" .model.IndicatorTypes "env" .env ) }}
            {{ template "enum-list" (dict "title" "Key Types" "list" .model.KeyTypes "env" .env ) }}
            {{ template "enum-list" (dict "title" "Malware Status" "list" .model.MalwareStatus "env" .env ) }}
            {{ template "enum-list" (dict "title" "Task Types" 	"list" .model.TaskTypes "env" .env ) }}
        </main>
    </div>
</body>

{{ define "enum-list" }}
<div class="collapse collapse-arrow">
    <input type="checkbox" checked />
    <div class="collapse-title px-0">
        <h2 class="text-primary text-xl font-bold"> {{ .title }} </h2>
    </div>

    <div class="collapse-content px-0">
        <!--
        {{if allowed ($url := "/settings/enums/new") "POST"}}
        <a class="btn btn-sm" href="{{ $url }}" up-layer="new drawer" up-accept-location="{{ .env.ActiveRoute }}">
            <i class="hio hio-5 hio-plus inline-block"></i> Add
        </a>
        {{ end }}
        -->

        <table class="table table-default dataTable" data-order='[[ 0, "asc" ], [ 1, "asc" ]]'>
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Name</th>
                    <th>Icon</th>
                    <th>State</th>
                    <!--<th style="width: 7rem"></th>-->
                </tr>
            </thead>

            <tbody>
                {{ range .list }}
                <tr class="hover">
                    <td> {{ .Order }} </td>
                    <td> {{ if ne .Name "" }}{{ .Name }}{{ else }}<em>&lt;Empty&gt;</em>{{ end }} </td>
                    <td> <i class="hio hio-5 {{ .Icon }}"></i> {{ .Icon }} </td>
                    <td> <span class="text-{{ .State }}">{{ .State }}</span> </td>
                    <!--<td class="text-right">
                        <div class="join"> {{ template "action-buttons" dict "url" (print "/settings/enums/" .ID) "env" $.env }} </div>
                    </td>-->
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}