<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/settings/enums/{{ .obj.ID }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.ID "new" }} Add case object
            {{ else }} Edit case object
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="ID" type="hidden" value="{{ .obj.ID }}" />
            <input name="ID" type="hidden" value="{{ .obj.Category }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Rank
				    {{ if .valid.Rank }}<span class="ml-2 text-sm text-error">{{ .valid.Rank }}</span>{{ end }}
                </label>
                <input name="Rank" type="number" class="input w-full" value="{{ .obj.Rank }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-accent">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input w-full" value="{{ .obj.Name }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Icon
                    <span class="text-accent">*</span>
				    {{ if .valid.Icon }}<span class="ml-2 text-sm text-error">{{ .valid.Icon }}</span>{{ end }}
                </label>
                <input name="Icon" type="text" class="input w-full" value="{{ .obj.Icon }}" />
            </div>
            
            <p class="text-sm mb-2">All icon from the <a href="https://heroicons.com/" target="_blank" class="underline">heroicons</a> library are supported.</p>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Stae
				    {{ if .valid.State }}<span class="ml-2 text-sm text-error">{{ .valid.State }}</span>{{ end }}
                </label>
                <select name="State" class="select w-full">
                    <option disabled value="" {{ if eq .obj.State "" }}selected{{ end }}>Select an option</option>
                    <option {{ if eq $.obj.State "success" }}selected{{ end }}>success</option>
                    <option {{ if eq $.obj.State "warning" }}selected{{ end }}>warning</option>
                    <option {{ if eq $.obj.State "danger" }}selected{{ end }}>danger</option>
                </select>
            </div>

            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>