<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/settings/hooks/{{ .obj.ID }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.ID "new" }} Add automation rule
            {{ else }} Edit automation rule
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <input name="ID" type="hidden" value="{{ .obj.ID }}" />

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Trigger
                    <span class="text-accent">*</span>
				    {{ if .valid.Trigger }}<span class="ml-2 text-sm text-error">{{ .valid.Trigger }}</span>{{ end }}
                </label>
                <select name="Trigger" class="select w-full">
                    {{ range .model.HookTrigger }}
                        <option {{ if eq $.obj.Trigger . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-accent">*</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input w-full" value="{{ .obj.Name }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Condition
                    <span class="text-accent">*</span>
				    {{ if .valid.Condition }}<pre class="ml-2 text-sm text-error">{{ .valid.Condition }}</pre>{{ end }}
                </label>
                <input name="Condition" type="text" class="input w-full" value='{{ .obj.Condition }}' />
                <!-- TODO: explain condition language -->
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Mod
                    <span class="text-accent">*</span>
				    {{ if .valid.Mod }}<span class="ml-2 text-sm text-error">{{ .valid.Mod }}</span>{{ end }}
                </label>
                <select name="Mod" class="select w-full">
                    <option disabled value="" {{ if eq .obj.Mod "" }}selected{{ end }}>Select an option</option>
                    {{ range .mods }}
                        <option {{ if eq $.obj.Mod .Name }}selected{{ end }}>{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label cursor-pointer justify-start gap-2">
                    <input name="Enabled" value="true" type="checkbox" class="checkbox" {{ if .obj.Enabled }}checked{{ end }} />
                    Enabled
                </label>
            </div>

            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>