<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <section id="errors"></section>

        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <div id="list">
            <table class="table table-default dataTable" data-order='[[ 0, "asc" ], [ 2, "asc" ]]'>
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Due</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Task</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Owner</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Done</th>
                        <th style="width: 7rem"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td class="truncate"> {{ .DateDue.Format "2006-01-02" }} </td>
                        <td class="truncate">
                            {{ if eq .Type "Information request" }} <i class="hio hio-5 hio-question-mark-circle inline-block"></i>
                            {{ else if eq .Type "Analysis" }}       <i class="hio hio-5 hio-magnifying-glass inline-block"></i>
                            {{ else if eq .Type "Deliverable" }}    <i class="hio hio-5 hio-document-text inline-block"></i>
                            {{ else if eq .Type "Checkpoint" }}     <i class="hio hio-5 hio-clipboard-document-check inline-block"></i>
                            {{ else }}                              <i class="hio hio-5 hio-question-mark-circle inline-block"></i>
                            {{ end }}
                            {{ .Type }}
                        </td>
                        <td> {{ .Task }} </td>
                        <td> {{ .Owner }} </td>
                        <td>
                            {{ if .Done }} <i class="hio hio-5 hio-check-circle text-green-500"></i>
                            {{ else }} <i class="hio hio-5 hio-x-circle text-red-500"></i>
                            {{ end }}
                        </td>
                        <td class="text-right"><div class="join">
                            {{ template "action-buttons" dict "url" (print "/cases/" .CaseID "/tasks/" .ID) "env" $.env }}
                        </div></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            </div>
        </main>
    </div>
</body>