<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>

        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full">
            {{ template "navbar" dict "env" .env "title" .title }}

            <table id="list" class="table w-full dataTable min-w-full text-sm align-middle">
                <thead>
                    <tr>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Due</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Type</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Task</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Owner</th>
                        <th class="px-3 py-4 text-left dt-orderable-asc dt-orderable-desc">Done</th>
                        <td style="width: 7rem"></td>
                    </tr>
                </thead>

                <tbody>
                    {{ range .rows }}
                    <tr class="hover">
                        <td class="truncate"> {{ .DateDue.Format "2006-01-02" }} </td>
                        <td class="truncate">
                            {{ if eq .Type "Information request" }} {{ template "icon-question-mark-circle" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Analysis" }}       {{ template "icon-magnifying-glass" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Deliverable" }}    {{ template "icon-document-text" "inline-block w-5 h-5" }}
                            {{ else if eq .Type "Checkpoint" }}     {{ template "icon-clipboard-check" "inline-block w-5 h-5" }}
                            {{ else }}                              {{ template "icon-question-mark-circle" "inline-block w-5 h-5" }}
                            {{ end }}
                            {{ .Type }}
                        </td>
                        <td> {{ .Task }} </td>
                        <td> {{ .Owner }} </td>
                        <td>
                            {{ if .Done }} {{ template "icon-check-circle" "w-5 h-5 text-green-500" }}
                            {{ else }} {{ template "icon-x-circle" "w-5 h-5 text-red-500" }}
                            {{ end }}
                        </td>
                        <td class="px-6 py-2 flex justify-end join">
                            &nbsp;
                            {{ if allowed ($url := print "/settings/auditlog/task:" .ID) "GET" }}
							<a class="join-item btn btn-sm" href="{{ $url }}" title="Audit Log"
								up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-scale" "w-5 h-5"}}
							</a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/tasks/" .ID) "POST" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="get" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-pencil" "w-5 h-5"}}
                            </a>
                            {{ end }}
                            {{ if allowed ($url := print "/cases/" .CaseID "/tasks/" .ID) "DELETE" }}
                            <a class="join-item btn btn-sm" href="{{ $url }}"
                                up-method="delete" up-layer="new drawer" up-accept-location="{{ $.env.ActiveRoute }}">
                                {{ template "icon-trash" "w-5 h-5"}}
                            </a>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </main>
    </div>
</body>