<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <main>
    <form method="post" action="/settings/users/{{ .obj.ID }}" up-submit>
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            {{ if eq .obj.ID "new" }} Add user
            {{ else }} Edit user
            {{ end }}
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    ID
                    <span class="text-accent">*</span>
				    {{ if .valid.ID }}<span class="ml-2 text-sm text-error">{{ .valid.ID }}</span>{{ end }}
                </label>
                <input name="ID" type="text" class="input input-bordered" value="{{ .obj.ID }}"
                    x-init="setTimeout(() => $el.focus(), 100)" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Role
                    <span class="text-accent">*</span>
				    {{ if .valid.Role }}<span class="ml-2 text-sm text-error">{{ .valid.Role }}</span>{{ end }}
                </label>
                <select name="Role" class="select select-bordered"
                    x-init="setTimeout(() => $el.focus(), 100)">
                    <option disabled value="" {{ if eq .obj.Role "" }}selected{{ end }}>Select an option</option>
                    {{ range .model.UserRoles }}
                        <option {{ if eq $.obj.Role . }}selected{{ end }}>{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Name
                    <span class="text-sm text-neutral-content">(Will be overwritten by identity provider.)</span>
				    {{ if .valid.Name }}<span class="ml-2 text-sm text-error">{{ .valid.Name }}</span>{{ end }}
                </label>
                <input name="Name" type="text" class="input input-bordered" value="{{ .obj.Name }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    UPN
                    <span class="text-sm text-neutral-content">(Will be overwritten by identity provider.)</span>
				    {{ if .valid.UPN }}<span class="ml-2 text-sm text-error">{{ .valid.UPN }}</span>{{ end }}
                </label>
                <input name="UPN" type="text" class="input input-bordered" value="{{ .obj.UPN }}" />
            </div>

            <div class="form-control mb-2">
                <label class="label justify-start gap-2">
                    Email
                    <span class="text-sm text-neutral-content">(Will be overwritten by identity provider.)</span>
				    {{ if .valid.Email }}<span class="ml-2 text-sm text-error">{{ .valid.Email }}</span>{{ end }}
                </label>
                <input name="Email" type="text" class="input input-bordered" value="{{ .obj.Email }}" />
            </div>

            <p class="text-sm">Fields marked with <span class="text-accent">*</span> are required.</p>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>