<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
<main>
    <form method="post" up-submit
        enctype="multipart/form-data">
        <!-- Modal header -->
        <h3 class="font-bold text-lg mb-4">
            Import from CSV
        </h3>

        <!-- Modal body -->
        <div class="mb-4">
			<p class="flex items-center gap-2 mb-2">
			<i class="hio-5 hio-information-circle inline-block"></i>
			Please note, that dagobert will attempt to deduplicate entries.
			</p>

			<div class="form-control mb-2">
			<input name="file" class="file-input file-input-bordered w-full" type="file" />
			</div>
        </div>

        <!-- Modal footer -->
        <div class="flex gap-2 items-center">
            <button type="submit" class="btn btn-primary"> Save </button>
            <a class="btn" up-dismiss> Cancel </a>
        </div>
    </form>
    </main>
</body>