<!DOCTYPE html>
<html lang="en">
{{ template "layout-head" }}
<body>
    <div class="drawer-content flex">
        <div up-flashes></div>
        {{ template "sidebar" . }}

        <main class="pl-20 p-4 grow max-w-full flex flex-col h-screen">
            {{ template "navbar" dict "env" .env "title" .title
                "hideRefresh" true
                "hideSearch" true
                "hideImport" true
                "hideExport" true
                "hideAdd"    true }}

            <div id="mynetwork" class="h-full"></div>

        </main>
        
        <script src="/web/vis-network-9.1.9.min.js"></script>
        <script>
        const options = {
        edges: {
            color: {
                color: "oklch(85% 0.199 91.936)",
                highlight: "oklch(75% 0.183 55.934)",
            },
            smooth: {
                forceDirection: "vertical"
            }
        },
        nodes: {
            shape: "icon",
            margin: 10,
            font: { 
                color: "oklch(20% 0 0)", 
                background: "oklch(100% 0 0)",
            },
            icon: {
                face: "'heroicons-outline'",
            },
        },
        groups: {
            // Assets
            AssetServer:  {icon: {code: "\ue9fb", size: 50, color: "oklch(37% 0.01 67.558)" }},
            AssetDesktop: {icon: {code: "\ue97d", size: 50, color: "oklch(37% 0.01 67.558)" }},
            AssetAccount: {icon: {code: "\uea1a", size: 50, color: "oklch(37% 0.01 67.558)" }},
            AssetOther:   {icon: {code: "\ue9ef", size: 50, color: "oklch(37% 0.01 67.558)" }},

            // Indicators
            IndicatorIP:      {icon: {code: "\ue9cc", size: 32, color: "oklch(70% 0.191 22.216)" }},
            IndicatorDomain:  {icon: {code: "\ue9b3", size: 32, color: "oklch(70% 0.191 22.216)" }},
            IndicatorURL:     {icon: {code: "\ue9c4", size: 32, color: "oklch(70% 0.191 22.216)" }},
            IndicatorPath:    {icon: {code: "\ue9a8", size: 32, color: "oklch(70% 0.191 22.216)" }},
            IndicatorHash:    {icon: {code: "\ue9a3", size: 32, color: "oklch(70% 0.191 22.216)" }},
            IndicatorService: {icon: {code: "\ue97c", size: 32, color: "oklch(70% 0.191 22.216)" }},
            IndicatorOther:   {icon: {code: "\ue9ef", size: 32, color: "oklch(70% 0.191 22.216)" }},
        },
        "physics": {
            "repulsion": {
                "centralGravity": 0.25,
                "springLength": 150,
                "nodeDistance": 175,
                "damping": 0.15
            },
            "minVelocity": 0.75,
            "solver": "repulsion"
        }
        };

        var nodes = new vis.DataSet({{ json .nodes }});
        var edges = new vis.DataSet({{ json .edges }});

        // create a network
        var container = document.getElementById("mynetwork");
        var data = {
            nodes: nodes,
            edges: edges,
        };

        var network = new vis.Network(container, data, options);
        </script>
    </div>
</body>